<!-- <label>{{title}}</label> -->
<nb-accordion>
    <nb-accordion-item #accordion>
        <nb-accordion-item-header role="button" [attr.aria-expanded]="accordion.collapsed">
            {{title}}
        </nb-accordion-item-header>
        <nb-accordion-item-body>
            <nb-radio-group [formControl]="itemControl">
                <nb-radio *ngFor="let option of options | async" [value]="option">
                    {{ option }}
                </nb-radio>
            </nb-radio-group>
        </nb-accordion-item-body>
    </nb-accordion-item>
</nb-accordion>