<div [nbSpinner]="loading" nbSpinnerStatus="primary" id="outerContainer">
    <div class="pdf-container">
        <pdf-viewer [src]="url" [rotation]="0" [original-size]="false" [show-all]="true" [fit-to-page]="false"
            [zoom]="1" zoom-scale="page-width" [stick-to-page]="false" [render-text]="true" external-link-target="blank"
            [autoresize]="true" [show-borders]="false" (on-progress)="onProgress($event)"
            style="width: 100%; height: 100vh;">
        </pdf-viewer>
        <a [attr.aria-label]="'Download' + downloadFilename" [download]="downloadFilename" [href]="url">
            <nb-icon status="primary" class="icon-size download-button" icon="cloud-download-outline"></nb-icon>
        </a>
    </div>
</div>