.icon-size {
    font-size: 2rem;
}

.pdf-container {
    position: relative;
    border: 1px solid #000000;
}

.font-size {
    font-size: 4rem;
}

.download-button {
    z-index: 10000;
    position: absolute;
    left: 16px;
    top: 16px;
}

::ng-deep .nb-theme-default nb-spinner.size-medium {
    font-size: 10rem;
}