<nb-layout>
  <nb-layout-header>
    <app-header class="header-width header-height"></app-header>
  </nb-layout-header>
  <nb-layout-column *ngIf="citation">
    <div class="document-details">
      <section class="double-gutter">
        <button id="back-button" (click)="navigateBack()" outline status="primary" shape="round" nbButton ghost>
          <nb-icon icon="arrow-back-outline"></nb-icon>Back to search
        </button>
      </section>
      <section class="half-gutter">
        <app-document-type [citation]="citation"></app-document-type>
      </section>
      <section>
        <app-document-title [disableRouter]="true" [citation]="citation"></app-document-title>
      </section>
      <section class="full-gutter">
        <app-authors [citation]="citation"></app-authors>
      </section>
      <section class="double-gutter">
        <app-publications [displayPublisher]="true" [citation]="citation"></app-publications>
      </section>
      <section class="full-gutter">
        <app-funding [citation]="citation"></app-funding>
      </section>
      <section class="half-gutter">
        <div>Distribution: {{citation.distribution}}</div>
      </section>
      <section>
        <app-keywords [citation]="citation"></app-keywords>
      </section>
    </div>
    <div class="document-viewer" *ngIf="hasPdf()">
      <app-pdf [url]="getPdfUrl()" [downloadFilename]="getDownloadFilename()"></app-pdf>
    </div>
  </nb-layout-column>
</nb-layout>