<label class="section-header" for="author">Author</label>
<nb-tag-list aria-label="Authors" (tagRemove)="handleRemoveAuthor($event)">
    <nb-tag appearance="outline" status="primary" *ngFor="let author of authorsForm.value" [text]="author"
        removable></nb-tag>
    <input aria-label="Enter each author name" status="primary" id="author" type="text" nbTagInput
        (tagAdd)="handleAddAuthor($event)" [separatorKeys]="keyCodes" fullWidth>
</nb-tag-list>