<nb-layout>
    <nb-layout-header>
        <app-header class="header-width header-height"></app-header>
    </nb-layout-header>
    <nb-sidebar withScroll>
        <app-citations-form></app-citations-form>
    </nb-sidebar>
    <nb-layout-column [nbSpinner]="loading" nbSpinnerStatus="primary">
        <app-citations-summaries></app-citations-summaries>
    </nb-layout-column>
</nb-layout>