.keyword {
    color: #000000;
    letter-spacing: calc(1rem * -0.02);
    font-size: 1rem;
    line-height: 1.5rem;
    text-rendering: optimizelegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}