<header class="sidenav-header">Refine Search</header>
<form [formGroup]="searchForm">
    <section class="form-section">
        <label for="title" class="section-header">Title</label>
        <nb-form-field>
            <input id="title" status="primary" nbInput formControlName="title" />
        </nb-form-field>
    </section>
    <section class="form-section">
        <app-author-form [authorsForm]="getControl('author')"></app-author-form>
    </section>
    <section class="form-section">
        <app-checklist-form title="Organization" itemCategory="organization"
            [itemsControl]="getControl('organization')"></app-checklist-form>
    </section>
    <section class="form-section">
        <app-date-range-form title="Published Date" [dateFormGroup]="getGroup('published')"></app-date-range-form>
    </section>
    <section class="form-section">
        <app-date-range-form title="Date Acquired" [dateFormGroup]="getGroup('created')"></app-date-range-form>
    </section>
    <section class="form-section">
        <app-radio-form [defaultValue]="defaultStiType" title="Type" optionCategory="stiTypeDetails"
            [itemControl]="getControl('stiTypeDetails')"></app-radio-form>
    </section>
</form>