<div class="header-background flex-header">
    <a class="logo-height" href="/">
        <img class="logo-height" alt="NASA logo" [src]="nasaLogoUrl">
    </a>
    <app-search-box width="100%" [showLabel]="false" class="search-box search-box-width"
        *ngIf="includeSearch"></app-search-box>
</div>