::ng-deep .nb-theme-default nb-layout-header nav {
    padding: 0;
}

.flex-header {
    display: flex;
    height: 100%;
    align-items: center;
    padding-left: 10px;
}

.header-background {
    background-image: url('/assets/BANNER.jpg');
}

.logo-height {
    height: 4.5rem;
}

.search-box-width {
    width: 40%;
}