<ng-container [formGroup]="dateFormGroup">
    <div class="section-header">{{title}}</div>

    <label id="from">From</label>
    <nb-form-field>
        <nb-datepicker [filter]="filterStartDate" #startDatePicker></nb-datepicker>
        <input aria-labelledby="from" nbInput [nbDatepicker]="startDatePicker" formControlName="start">
    </nb-form-field>

    <label id="to">To</label>
    <nb-form-field>
        <nb-datepicker [filter]="filterEndDate" #endDatePicker></nb-datepicker>
        <input aria-labelledby="to" nbInput [nbDatepicker]="endDatePicker" formControlName="end">
    </nb-form-field>
</ng-container>