<div *ngIf="meta.total" class="results">{{meta.total | number}} results</div>
<section class="citation-section" *ngFor="let citation of citations;">
    <app-document-type [citation]="citation"></app-document-type>
    <app-document-title [citation]="citation"></app-document-title>
    <app-authors [citation]="citation"></app-authors>
    <app-publications [citation]="citation"></app-publications>
    <div class="citation-abstract">
        <div>{{citation.abstract}}</div>
    </div>
    <div class="actions">
        <a status="primary" [routerLink]="'/citation/' + citation.id" queryParamsHandling="merge" nbButton
            shape="rectangle" size="small">View
            Details</a>
        <a class="action-button" [download]="replaceWhitespace(citation.title) + getFileExt(download)"
            [href]="getDownloadLink(download)" nbButton shape="rectangle" size="small"
            *ngFor="let download of citation.downloads">
            <nb-icon icon="download-outline"></nb-icon>
            Download
        </a>
    </div>
</section>