.results {
    -webkit-font-smoothing: antialiased;
    font-family: var(--fancy-font);
    font-size: 1.3rem;
    font-weight: 700;
    letter-spacing: calc(1.5rem * -.01);
    line-height: 1.55rem;
    text-rendering: optimizelegibility;
    margin-bottom: 3rem;
}

.citation-section {
    margin-bottom: 3rem;
}

.citation-abstract {
    margin-bottom: 1rem;
}

::ng-deep .nb-theme-default [nbButton].appearance-filled.status-basic {
    border: 1px solid navy;

    &:hover {
        border: 2px solid rgb(56, 126, 187);
    }
}

.actions {
    display: flex;

    &>a {
        margin-right: .5rem;
    }

    height: 32px;
}