<div class="nb-theme-default flex-container">
    <nb-form-field [style.width]="width">
        <input (keydown.enter)="handleEnter()" fullWidth status="primary" nbInput placeholder="Search citations"
            shape="rectangle" [formControl]="inputFormControl" />
        <button ghost nbSuffix nbButton (click)="handleClick()">
            <nb-icon [icon]="'search-outline'" pack="eva" [attr.aria-label]="'Attempt open search'">
            </nb-icon>
        </button>
    </nb-form-field>
</div>