.citation-publication {
    color: rgb(103, 103, 101);
    font-size: 1rem;
    font-style: italic;
    letter-spacing: calc(1rem * -.02);
    line-height: 1.25rem;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    margin-bottom: 1rem;
}