.call-to-action {
    letter-spacing: calc(2.25rem * -0.01);
    font-family: var(--fancy-font);
    font-size: 2.5rem;
    font-weight: 400;
    line-height: 2.5rem;
    text-rendering: optimizelegibility;
    text-align: center;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.header-margin {
    margin-top: 3rem;
}