<nb-layout>
    <nb-layout-header>
        <app-header></app-header>
    </nb-layout-header>
    <nb-layout-column>
        <h1 class="call-to-action header-margin">
            Explore the wonders of space with us
        </h1>
        <app-search-box></app-search-box>
    </nb-layout-column>
</nb-layout>