.document-title {
    padding-bottom: 1rem;

    &>a {
        -webkit-font-smoothing: antialiased;
        color: #000000;
        font-family: var(--fancy-font);
        font-size: 1.25rem;
        letter-spacing: 1rem * -.02;
        line-height: 1.5rem;
        text-decoration-thickness: initial;
        text-rendering: optimizelegibility;
        transition-duration: 0.2s;
        transition-property: color, text-decoration-color;
        transition-timing-function: ease-in-out;
        text-decoration: none;

        &.disabled {
            cursor: default;
        }

        &:hover:not(.disabled) {
            text-decoration: underline;
            color: rgb(210, 30, 30);
            cursor: pointer;
        }
    }
}