<nb-accordion>
    <nb-accordion-item #accordion>
        <nb-accordion-item-header role="button" [attr.aria-expanded]="accordion.collapsed">
            {{title}}
        </nb-accordion-item-header>
        <nb-accordion-item-body>
            <div class="list">
                <nb-checkbox *ngFor="let option of options | async; index as i"
                    (checkedChange)="handleCheck($event, option)" status="primary"
                    [checked]="isChecked(option)">{{option}}</nb-checkbox>
            </div>
        </nb-accordion-item-body>
    </nb-accordion-item>
</nb-accordion>