// this is our just created themes.scss file, make sure the path to the file is correct
app-header {
    width: 100%;
    height: 4.75rem;
}

sidebar-background-color {
    background-color: yellow
}

.section-header {
    -webkit-font-smoothing: antialiased;
    color: inherit;
    display: block;
    font-size: .9375rem;
    font-weight: 700;
    letter-spacing: calc(.875rem * -.02);
    line-height: 1.25rem;
    margin-bottom: .5rem;
    padding: 0px;
    text-rendering: optimizelegibility;
}

:root {
    --fancy-font: Ivar Headline, Times, Georgia, serif;
}